"*":
  "atom-gdb": {}
  build:
    panelVisibility: "Keep Visible"
    saveOnBuild: true
  core:
    customFileTypes:
      "source.cpp": [
        "h"
      ]
    disabledPackages: [
      "autocomplete-clang"
      "open-on-github"
      "git-diff"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "43be3f37-4645-210a-01a1-c24558189fc2"
  tabs: {}
  welcome:
    showOnStartup: false
